@model KartingApp.Domain.Entities.Track

@{
    ViewBag.Title = "Track Detail";
}

<h1>@Model.Description</h1>

@foreach (KartingApp.Domain.Entities.Race r in Model.Races)
{
    <h3>@Html.RouteLink(r.RaceDescription, new { controller = "Race", action = "Detail", id = r.RaceID })</h3>
}

<h3>@Html.ActionLink("Edit", "Edit", new { id = @Model.TrackID })</h3>

<h3>@Html.RouteLink("Menu", new { controller = "Main", action = "Index" })</h3>