@model KartingApp.Domain.Entities.Driver

@{
    ViewBag.Title = "Driver Detail";
}

<h1 id="name">@Model.Name</h1>
@foreach (var r in Model.RaceResults)
{
    <h3>@Html.RouteLink(r.RaceResultDescriptionForDriver, new { controller = "Race", action = "Detail", id = r.RaceID })</h3>
}  

<h3>@Html.ActionLink("Edit", "Edit", new { id = @Model.DriverID })</h3>

<h3>@Html.RouteLink("Menu", new { controller = "Main", action = "Index" })</h3>
