@model KartingApp.Domain.Entities.Driver

@{
    ViewBag.Title = "Edit Driver";
}

@using (Html.BeginForm("Edit", "Driver",
    FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.EditorForModel()
    <br />
    <input type="submit" value="Save" />
}

@using (Html.BeginForm("Delete", "Driver",
    FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <div>@Html.EditorFor(x => x.DriverID)</div>
    @Html.HiddenFor(x => x.Hometown)
    @Html.HiddenFor(x => x.Name)
    <br />
    <input type="submit" value="Delete" />
}

<h3>@Html.ActionLink("Cancel and return to List", "List")</h3>
